/* ================================= 
  Base Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
	}

h2, 
h3, 
a { 
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
	height: 30em;
}
figure {
	position: relative;
	margin: 0;
	line-height: 0;
}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;	
	background: rgba(19,43,102, .85);
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Page Elements ---- */
.headline {
	margin-bottom: 0;
}

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin-right: 0;
}

.main-nav {
	margin-top: 5px;
}

.name,
.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.name a, 
.main-nav a {
	padding: 5px 5px;
	text-align: center;
	display: block;
}

/* ---- Layout Containers ---- */


.banner {
	color: #fff;
	background: #3acec2;
	padding: 3.2 em 0;
	margin-bottom: 60px;
}

col {
	padding-right: 1em;
	padding-left: 1em;
}

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #fff;
	margin-bottom: 30px;
}

.banner, 
.main-footer {
	text-align: center;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}

/* ---- Positioning elements ---- 
.banner {
	position: relative;
}
.headline {
	position: absolute;
	color: black;
	top: 70%;
	left: 5%;
}

.tagline {
	position: absolute;
	color: black;
	top: 85%;
	left: 5%;
}
*/

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	
	.wrap {
		min-height: calc(100vh - 89px);
	}

	.container {
	width: 90%;
	max-width: 1150px;
	margin: 0 auto;
	}

	

	.name {
		float: left;
		width: 340px;
		margin-right: 50px;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		margin-left: 15px;
	}

	/*.name, 
	.main-nav,*/
	.main-nav li {
		display: inline-block;
	}

	.tagline {
		font-size: 1.4em;
	}

/* ---- Columns ---- */
	.col {    
		float: left;
		/*display: inline-block;*/
		/*width: 30%; */
		margin-right: -5px;
		vertical-align: top;
		padding-left: 1.5em;
		padding-right: 1.5em;

	}

	.first, 
	.second {
		width: 50%;
	}

	.clearfix::after {
		content: "";
		display: table;
		clear: both;

	}

}

@media (min-width: 1025px) {
	.container {
		width: 80%;
		max-width: 1150px;
	}

	.col {
		width: 30%;
	}
}
